@import "leaflet/dist/leaflet.css";

/* Force everything to stay full screen */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh !important;
  width: 100vw !important;
  overflow: hidden;
  display: block; /* Ensure it's not collapsing */
}

.leaflet-container {
  height: 100vh !important;
  width: 100vw !important;
}